<div class="search-music-component">
  <mat-form-field class="example-form-field">
    <mat-label>Pesquise uma música</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button id="btn-buscar" mat-raised-button (click)="clickAction()">
    Buscar
  </button>


  <p class="error" *ngIf='errorMessage'>{{errorMessage}}</p>
  <app-track-item *ngFor="let track of tracks" [trackName]="track.name"></app-track-item>
</div>